.slds-modal__container {
    max-width: 80rem;
    width: 80%;
    height: 95%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  border: none;
  background-color: transparent;
}

input[type="number"]:focus {
  outline: none;
}

.errorColor {
    color: red;
    font-size: 12px;
}

button {
    background-color: transparent;
    visibility: hidden;
}

table tbody tr:hover button {
    visibility: visible;
}

table {
    border-collapse: collapse;
}

table thead tr th {
    background-color: aliceblue;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: aliceblue;
}

.divclas {
    position: absolute;
    z-index: 99;
    margin-left: 65%;
    background: white;
    border: 1px solid;
    padding: 1%;
    width: 30%;
}

.slds-scrollable_y{
    
}